    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f

    RewriteRule ^home(.*)$ index.php?url=$1 [QSA,L]
    RewriteRule ^about(.*)$ about.php?url=$1 [QSA,L]
    RewriteRule ^service(.*)$ service.php?url=$1 [QSA,L]
    RewriteRule ^price(.*)$ price.php?url=$1 [QSA,L]
    
    RewriteRule ^team(.*)$ team.php?url=$1 [QSA,L]
    RewriteRule ^portfolio(.*)$ portfolio.php?url=$1 [QSA,L]
    RewriteRule ^blog(.*)$ blog.php?url=$1 [QSA,L]
    RewriteRule ^single(.*)$ single.php?url=$1 [QSA,L]
    RewriteRule ^contact(.*)$ contact.php?url=$1 [QSA,L]
